# 0. Import libaries

First, import necessary libraries.

In [1]:
import pandas as pd

Then install and import the MySQL connector for Python:

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)

Let's import this:

In [3]:
from sqlalchemy import create_engine
import pymysql

In [4]:
import requests

# 1. Extract Data

Data is collected from various sources including an Excel file, a CSV file, a Google Sheet, a web page, and an SQL database.

## 1.1. Enrollies' data

Extract data from Google Sheets:

https://docs.google.com/spreadsheets/d/1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI/edit?usp=sharing

In [5]:
# take the Google Sheet file ID:
google_sheet_id = '1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI'

# retrieve file as XLSX:
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'

# retrieve it as a regular Excel file:
enrollies_data = pd.read_excel(url, sheet_name='enrollies')

 Take a look at the given data:

In [6]:
enrollies_data.head()

   enrollee_id      full_name      city gender
0         8949     Mike Jones  city_103   Male
1        29725    Laura Jones   city_40   Male
2        11561   David Miller   city_21    NaN
3        33241    Laura Davis  city_115    NaN
4          666  Alex Martinez  city_162   Male

##1.2. Enrollies' education

Educational department stores it in the Excel format here:

https://assets.swisscoding.edu.vn/company_course/enrollies_education.xlsx

In [7]:
# download and parse excel by the link
excel_url = 'https://assets.swisscoding.edu.vn/company_course/enrollies_education.xlsx'
excel_respond = requests.get(excel_url)
with open('enrollies_education.xlsx', 'wb') as file:
    file.write(excel_respond.content)

In [8]:
# Read data from Excel file
enrollies_education = pd.read_excel('enrollies_education.xlsx', sheet_name='enrollies_education')

Take a look at the given data:

In [9]:
enrollies_education.head()

   enrollee_id enrolled_university education_level major_discipline
0         8949       no_enrollment        Graduate             STEM
1        29725       no_enrollment        Graduate             STEM
2        11561    Full time course        Graduate             STEM
3        33241                 NaN        Graduate  Business Degree
4          666       no_enrollment         Masters             STEM

##1.3. Enrollies' working experience

Educational department stores it in the CSV format here:

https://assets.swisscoding.edu.vn/company_course/work_experience.csv

In [10]:
# download and parse csv by the link
csv_url = 'https://assets.swisscoding.edu.vn/company_course/work_experience.csv'
csv_respond = requests.get(csv_url)
with open('work_experience.csv', 'wb') as file:
    file.write(csv_respond.content)

In [11]:
# Read data from CSV file
work_experience = pd.read_csv('work_experience.csv')

Take a look at the given data:

In [12]:
work_experience.head()

,enrollee_id,relevent_experience,experience,company_size,company_type,last_new_job
0,8949,Has relevent experience,>20,NaN,NaN,1
1,29725,No relevent experience,15,50-99,Pvt Ltd,>4
2,11561,No relevent experience,5,NaN,NaN,never
3,33241,No relevent experience,<1,NaN,Pvt Ltd,never
4,666,Has relevent experience,>20,50-99,Funded Startup,4

##1.4. Training hours

From LMS system's database you can retrieve a number of training hours for each student that they have completed.

**Database credentials:**

- Database type: `MySQL`
- Host: `112.213.86.31`
- Port: `3360`
- Login: `etl_practice`
- Password: `550814`
- Database name: `company_course`
- Table name: `training_hours`

Connect to the database via SQL Alchemy engine and save the connection into a variable using a URL in the following format:

`<driver>://<login>:<password>@<host>:<port>/<database_name>`

In [13]:
# Connect to the database
engine = create_engine('mysql+pymysql://etl_practice:550814@112.213.86.31:3360/company_course')

Then just retrieve the data using `.read_sql_table()` method:

In [14]:
# Load data
training_hours = pd.read_sql_table('training_hours', engine)

Take a look at the given data:

In [15]:
training_hours.head()

   enrollee_id  training_hours
0         8949              36
1        29725              47
2        11561              83
3        33241              52
4          666               8

##1.5. City development index

Data stored here:

https://sca-programming-school.github.io/city_development_index/index.html

In [16]:
# Read data from HTML
tables = pd.read_html('https://sca-programming-school.github.io/city_development_index/index.html')

# Load data from the first table in website
cities = tables[0]

Take a look at the given data:

In [17]:
cities.head()

       City  City Development Index
0  city_103                   0.920
1   city_40                   0.776
2   city_21                   0.624
3  city_115                   0.789
4  city_162                   0.767

## 1.6. Employment

From LMS database you can also retrieve the fact of employment. If student is marked as employed, it means that this student started to work in our company after finishing the course.

**Database credentials:**

- Database type: `MySQL`
- Host: `112.213.86.31`
- Port: `3360`
- Login: `etl_practice`
- Password: `550814`
- Database name: `company_course`
- Table name: `employment`

Retrieve the data:

In [18]:
# Load data
employment = pd.read_sql_table('employment', engine)

Take a look at the given data:

In [19]:
employment.head()

   enrollee_id  employed
0            1       0.0
1            2       1.0
2            4       0.0
3            5       0.0
4            7       0.0

# 2. Transform Data

Data is transformed through multiple steps including cleaning, formatting, normalization, and feature creation to ensure consistency across sources.

## 2.1. Enrollies' data

Display basic information about the dataset:

In [20]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  object
 2   city         19158 non-null  object
 3   gender       14650 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

a. Fix data type:

In [21]:
# Convert columns to appropriate data types
type_mappings = {
    'full_name': 'string',
    'city': 'category',
    'gender': 'category'
}

for col, dtype in type_mappings.items():
    enrollies_data[col] = enrollies_data[col].astype(dtype)

b. Fill missing value:

In [22]:
# find mode value
gender_mode = enrollies_data['gender'].mode()[0]

# Fill missing values with the most frequent (mode) value
enrollies_data['gender'].fillna(gender_mode, inplace=True)

/tmp/ipython-input-22-1324900147.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  enrollies_data['gender'].fillna(gender_mode, inplace=True)

Let's check a result:

In [23]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  string
 2   city         19158 non-null  category
 3   gender       19158 non-null  category
dtypes: category(2), int64(1), string(1)
memory usage: 342.1 KB

## 2.2. Enrollies' education

Display basic information about the dataset:

In [24]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  object
 2   education_level      18698 non-null  object
 3   major_discipline     16345 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

a. Fix data type:

In [25]:
# Convert selected columns to 'category' data type
for col in ['enrolled_university', 'education_level', 'major_discipline']:
    enrollies_education[col] = enrollies_education[col].astype('category')

b. Fill missing value:

In [26]:
# Fill missing values with mode for selected categorical columns
for col in ['enrolled_university', 'education_level', 'major_discipline']:
    mode_val = enrollies_education[col].mode()[0]
    enrollies_education[col].fillna(mode_val, inplace=True)

/tmp/ipython-input-26-63339573.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  enrollies_education[col].fillna(mode_val, inplace=True)

Let's check a result:

In [27]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  19158 non-null  category
 2   education_level      19158 non-null  category
 3   major_discipline     19158 non-null  category
dtypes: category(3), int64(1)
memory usage: 206.5 KB

## 2.3. Enrollies' working experience

Display basic information about the dataset:

In [28]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  object
 2   experience           19093 non-null  object
 3   company_size         13220 non-null  object
 4   company_type         13018 non-null  object
 5   last_new_job         18735 non-null  object
dtypes: int64(1), object(5)
memory usage: 898.2+ KB

a. Fix data type:

In [29]:
# Convert selected columns to 'category' data type
categorical_cols = ['relevent_experience', 'experience', 'company_size', 'company_type', 'last_new_job']
for col in categorical_cols:
    work_experience[col] = work_experience[col].astype('category')

b. Fill missing value:

In [30]:
# Fill missing values with mode for selected categorical columns in work_experience
for col in ['experience', 'company_size', 'company_type', 'last_new_job']:
    mode_val = work_experience[col].mode()[0]
    work_experience[col].fillna(mode_val, inplace=True)

/tmp/ipython-input-30-699111698.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  work_experience[col].fillna(mode_val, inplace=True)

Let's check a result:

In [31]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  category
 2   experience           19158 non-null  category
 3   company_size         19158 non-null  category
 4   company_type         19158 non-null  category
 5   last_new_job         19158 non-null  category
dtypes: category(5), int64(1)
memory usage: 245.0 KB

## 2.4. Training hours

Display basic information about the dataset:

In [32]:
training_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   enrollee_id     19158 non-null  int64
 1   training_hours  19158 non-null  int64
dtypes: int64(2)
memory usage: 299.5 KB

Since the dataset is already clean and complete, no transformation steps were necessary before analysis.

## 2.5. City development index

Display basic information about the dataset:

In [33]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    object
 1   City Development Index  123 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.1+ KB

Fix data type:

In [34]:
cities['City'] = cities['City'].astype('category')

In [35]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    category
 1   City Development Index  123 non-null    float64
dtypes: category(1), float64(1)
memory usage: 6.2 KB

## 2.6. Employment

Display basic information about the dataset:

In [36]:
employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   employed     19158 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 299.5 KB

Since the dataset is already clean and complete, no transformation steps were necessary before analysis.

# 3. Load Data

Cleaned and structured data is loaded into a SQLite database using SQLAlchemy for storage and future querying.

In [37]:
# Define the path for the SQLite database
db_path = 'data_warehouse.db'

# Create a SQLAlchemy engine for connecting to the SQLite database
engine = create_engine(f'sqlite:///{db_path}')

Load dimension and fact tables into the database:

In [38]:
# Dictionary of DataFrames and corresponding table names
tables_to_load = {
    'dim_enrollies_data': enrollies_data,
    'fact_enrollies_education': enrollies_education,
    'dim_work_experience': work_experience,
    'dim_training_hours': training_hours,
    'dim_cities': cities,
    'dim_employment': employment
}

# Load each DataFrame into the SQLite database
for table_name, df in tables_to_load.items():
    df.to_sql(table_name, engine, if_exists='replace', index=False)